#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
}

#header #logo img {
  margin-left: 0px;
  margin-top: 0px;
  float: left;
  width: 250px;
  height: 40px;
}
#header #logo a img,
#header #logo a img:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
}

